.main {
  box-shadow: rgba(191, 191, 197, 0.472) -5px 5px, rgba(147, 145, 162, 0.472) -10px 10px, rgba(103, 102, 114, 0.3) -15px 15px, rgba(64, 64, 72, 0.2) -20px 20px, rgba(30, 30, 34, 0.1) -25px -25px;
}

.button {
  position: relative;
  transition: 2s;
  overflow: hidden;
  border: 2px solid black;
}

.button:hover,
.button:focus {
  filter: brightness(1.25);
  cursor: pointer;
  outline: none;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,0,0,0.7) 0%, rgba(255,129,0,1) 15%, rgba(248,255,0,0.7) 30%, rgba(77,255,50,0.7) 45%, rgba(117,221,244,0.7) 60%, rgba(0,96,251,0.7) 75%, rgba(255,0,226,0.7) 89%, rgba(205,0,225,0.7) 100%);
  filter: blur(5px);
  transform: skewX(-30deg);
}

.button:hover::before,
.button:focus::before {
  left: calc(100% + 150px);
  transition: 2s;
}

.button:hover::after,
.button:focus::after {
  left: calc(100% + 150px);
  transition: 2s 0.5s;
}
